body{
    color:#222;
    font-family: arial,sans-serif;
    font-size: small;
}
#vtop{
    padding-top: 16px;
    position: relative;
    font-size: 13px;
}
#left-links{
    position: absolute;
    margin: 7px 0 0 10px;
}
#left-links a {
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
}
a{
    text-decoration: none;
}