body{
    color:#222;
    font-family: arial,sans-serif;
    font-size: small;
}
#vtop{
    padding-top: 16px;
    position: relative;
    font-size: 13px;
}
#left-links{
    position: absolute;
    margin: 7px 0 0 10px;
}
#left-links a {
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
}
a{
    text-decoration: none;
    color: #222;
    font-family: arial,sans-serif;
}
a:hover{
    text-decoration: underline;
}
.right-links{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-family: arial,sans-serif;
    margin: 0 25px 0 0;
    align-items: center;
}
.right-links a{
    padding-right: 15px;
    color: #000;
    opacity: 0.75;
}
.right-links img{
    width: 20px;
    height: 20px;
}
.right-links .sign-in{
    height: 30px;
    width: 70px;
    color: white;
    border: 1px solid #4285f4;
    font-weight: bold;
    font-family: arial,sans-serif;
    outline: none;
    background: #4285f4;
    font-size: 13px;
}
.sign-in:active{
    background-color: rgb(50, 120, 255);
}
#main{
    display: block;
    margin: 0 auto;
}
#logo{
    height: 182px;
    margin-top: 89px;
}
#logo img{
        margin: 10px auto 20px;
        display: block;
        padding-top: 65px;
}
#searchform{
    margin-top: 0px;
    text-align: center;
}
#search{
    background: url(images/search-ic.png) no-repeat scroll 15px 7px;
    background-position-y: center;
    padding-left:45px;
    align-content: center;
    border-radius: 50px;
    height: 40px;
    border: 1px solid #D3D3D3;
    font: 16px arial,sans-serif;
    font-weight: lighter;
}
#search:hover{
    box-shadow: 0 0 0 2px #F4F4F4;
    transition: all 100ms ease-out;
}
#buttons-container{
    display: flex;
    padding-top: 36px;
    justify-content: center;
}
#middle-buttons button{
    margin-right: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    width: 134px;
    height: 35px;
    cursor: pointer;
    
}
#middle-buttons button:hover{
    box-shadow: 0 0 0 2px #F4F4F4;
    transition: all 100ms ease-out;
}
#middle-buttons button:active{
    border-color:  #4285f4;
}
#footer{
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #f2f2f2;

}
#footer .left-footer{
    padding-top: 12px;
    float: left;
    padding-left: 20px;
    vertical-align: middle;
}
#footer .right-footer{
    padding-top: 12px;
    float: right;
    padding-right: 20px;
    vertical-align: middle;
}

#footer a {
    font-size: 13px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 50;
}

